<div ng-controller="TestCtrl as test" class="row">
  <!-- fixed navigation bar  -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <span class="glyphicon glyphicon-heart-empty navbar-brand"></span>
        </div>
  
        <ul class="nav navbar-nav">
              <li><a href="/patients" target="_self">Patients</a></li>
              <li class="active"><a href="#top" target="_self">{{ patient.name }}</a></li>
          </ul>

        <div class="col-md-offset-8">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="query">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav> <!-- end navigation header -->

  <div class="col-md-8 col-md-offset-2">

    <!-- Header -->
    <div class="panel patient-info" id="#top">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <center>
            <h1 style="font-size: 5em"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>
            </center>
          </div>

          <div class="col-md-10">
            <h2><strong>{{ patient.name }}</strong></h2>
            <h6>
              <strong>ID:</strong> #{{ patient.ssn }}<br />
              <strong>Birthday:</strong> {{ patient.date_of_birth }}<br />
              <strong>Gender:</strong> {{ patient.gender }}
            </h6>
          </div>
        </div>
      </div>
    </div> <!-- end header -->

    <!-- Reports -->
    <div class="panel report-info" ng-repeat="report in patient.reports | filter:query">
       <div class="panel-heading">
          <h3>{{ report.name }}</h3>
          <strong>Date:</strong> {{ report.date }}<br />
          <strong>Physician:</strong> {{ report.physician }}<br />
          <strong>Location:</strong> {{ report.location }}<br />

        </div>

      <!-- Report data -->
      <table class="table lab-data">
        <thead>
          <tr>
            <th class="data-label"></th>
            <th class="data-name">Name</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Normal Range</th>
          </tr>
        </thead>
 
        <tbody>
          <tr ng-repeat="data in report.data">
            <td class="data-label">
              <!-- critical/warning label -->
              <span ng-show="data.label == 'warning'" class="ng-hide">
                <span class="glyphicon glyphicon-exclamation-sign warning" title="warning"></span>
              </span>

              <span ng-show="data.label == 'critical'" class="ng-hide">
                <span class="glyphicon glyphicon-warning-sign critical" title="critical"></span>
              </span>
            </td>
            <td class="data-name">{{ data.name }}</td>
            <td>{{ data.value }}</td>
            <td>{{ data.unit }}</td>
            <td>{{ data.normal_range }}</td>
          </tr>
        </tbody>

      </table> <!-- end report data -->

    </div> <!-- end reports -->

  </div> <!-- end container -->

</div> <!-- end ng-controller -->