<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><a href="/patient/<%= patient.ssn %>">Show</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
