@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* Patient */
.patient-info {
  .panel-heading {
    background-color: #93C847;
    border-color: #93C847;
  }
  margin-top: 5em;
  border-color: #93C847;
  color: #fff;
}

/* Report table */
.report-info {
  .panel-heading {
    background-color: #EBF5D6;
    color: #58821B;
  }
  border-color: #EBF5D6;
  margin-bottom: 5em;
}

.lab-data {
  th {
   color: #58821B; 
  }
  td {
    font-size: 0.9em;
  }
  .data-label {
    min-width: 25px;
  }
  .data-name {
    width: 40%;
  }
}

.critical {
  color: red;
}

.warning {
  color: orange;
}